.App h1 {
  margin-top: 20px;
  font-weight: bold;
  color: rgb(2, 2, 93);
  text-align: center;
  text-transform: uppercase;
  word-spacing: 10px;
}

.App footer {
  font-size: 12px;
  color: black;
  text-align: center;
}
